## Section 1. Introduction ##

In this notebook, the dataset to be processed is the Labor Force Survey conducted April 2016 and retrieved through Philippine Statistics Authority database.

In [1]:
import random
import numpy as np
import pickle
import os
import h5py
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['figure.figsize'] = (6.0, 6.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

plt.style.use('ggplot')

# autoreload external python modules;
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

<h1>Importing LFS PUF April 2016.CSV</h1>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score

try:
    lfs_data = pd.read_csv("LFS PUF April 2016.CSV")
except FileNotFoundError:
    print("Error: CSV file not found. Please make sure the file exists in the correct directory or provide the correct path.")
    exit()

<h1>Data Preprocessing and Data Cleaning</h1>

In [ ]:
lfs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180862 entries, 0 to 180861
Data columns (total 50 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PUFREG           180862 non-null  int64
 1   PUFPRV           180862 non-null  int64
 2   PUFPRRCD         180862 non-null  int64
 3   PUFHHNUM         180862 non-null  int64
 4   PUFURB2K10       180862 non-null  int64
 5   PUFPWGTFIN       180862 non-null  float64
 6   PUFSVYMO         180862 non-null  int64
 7   PUFSVYYR         180862 non-null  int64
 8   PUFPSU           180862 non-null  int64
 9   PUFRPL           180862 non-null  int64
 10  PUFHHSIZE        180862 non-null  int64
 11  PUFC01_LNO       180862 non-null  int64
 12  PUFC03_REL       180862 non-null  int64
 13  PUFC04_SEX       180862 non-null  int64
 14  PUFC05_AGE       180862 non-null  int64
 15  PUFC06_MSTAT     180862 non-null  object
 16  PUFC07_GRADE     180862 non-null  object
 17  PUFC08_CURSCH    180862 non-null  object
 18  PUFC09_GRADTECH  180862 non-null  object
 19  PUFC10_CONWR     180862 non-null  object
 20  PUFC11_WORK      180862 non-null  object
 21  PUFC12_JOB       180862 non-null  object
 22  PUFC14_PROCC     180862 non-null  object
 23  PUFC16_PKB       180862 non-null  object
 24  PUFC17_NATEM     180862 non-null  object
 25  PUFC18_PNWHRS    180862 non-null  object
 26  PUFC19_PHOURS    180862 non-null  object
 27  PUFC20_PWMORE    180862 non-null  object
 28  PUFC21_PLADDW    180862 non-null  object
 29  PUFC22_PFWRK     180862 non-null  object
 30  PUFC23_PCLASS    180862 non-null  object
 31  PUFC24_PBASIS    180862 non-null  object
 32  PUFC25_PBASIC    180862 non-null  object
 33  PUFC26_OJOB      180862 non-null  object
 34  PUFC27_NJOBS     180862 non-null  object
 35  PUFC28_THOURS    180862 non-null  object
 36  PUFC29_WWM48H    180862 non-null  object
 37  PUFC30_LOOKW     180862 non-null  object
 38  PUFC31_FLWRK     180862 non-null  object
 39  PUFC32_JOBSM     180862 non-null  object
 40  PUFC33_WEEKS     180862 non-null  object
 41  PUFC34_WYNOT     180862 non-null  object
 42  PUFC35_LTLOOKW   180862 non-null  object
 43  PUFC36_AVAIL     180862 non-null  object
 44  PUFC37_WILLING   180862 non-null  object
 45  PUFC38_PREVJOB   180862 non-null  object
 46  PUFC40_POCC      180862 non-null  object
 47  PUFC41_WQTR      180862 non-null  object
 48  PUFC43_QKB       180862 non-null  object
 49  PUFNEWEMPSTAT    180862 non-null  object
dtypes: float64(1), int64(14), object(35)
memory usage: 69.0+ MB

TODO:<br>
someone pls do this pls <br>
    -andrei

say something like<br>
because there are a lot of variables with the object datatype<br>
we need to clean it

In [13]:
lfs_data.describe()

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,PUFHHSIZE,PUFC01_LNO,PUFC03_REL,PUFC04_SEX,PUFC05_AGE
count,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.0,180862.0,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000,180862.000000
mean,9.398801,45.825309,4585.055324,20528.231873,1.574947,568.527169,4.0,2016.0,386.270272,2.490379,5.504783,3.252391,2.931489,1.493874,27.889772
std,4.667034,24.939767,2494.028733,11827.708144,0.494352,508.519331,0.0,0.0,440.160045,1.118970,2.370169,2.077130,1.832299,0.499964,20.052132
min,1.000000,1.000000,100.000000,1.000000,1.000000,34.998400,4.0,2016.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,5.000000,24.000000,2402.000000,10256.250000,1.000000,245.065975,4.0,2016.0,107.000000,1.000000,4.000000,2.000000,2.000000,1.000000,11.000000
50%,10.000000,46.000000,4600.000000,20406.000000,2.000000,392.993500,4.0,2016.0,243.000000,2.000000,5.000000,3.000000,3.000000,1.000000,24.000000
75%,13.000000,71.000000,7100.000000,30962.000000,2.000000,679.526775,4.0,2016.0,482.000000,3.000000,7.000000,4.000000,3.000000,2.000000,42.000000
max,17.000000,98.000000,9804.000000,40880.000000,2.000000,4509.316000,4.0,2016.0,3053.000000,4.000000,23.000000,23.000000,11.000000,2.000000,99.000000

In [12]:
lfs_data.head()

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTFIN,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,...,PUFC33_WEEKS,PUFC34_WYNOT,PUFC35_LTLOOKW,PUFC36_AVAIL,PUFC37_WILLING,PUFC38_PREVJOB,PUFC40_POCC,PUFC41_WQTR,PUFC43_QKB,PUFNEWEMPSTAT
0,1,28,2800,1,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
1,1,28,2800,1,2,388.8280,4,2016,217,1,...,,,,,,,,1,01,1
2,1,28,2800,1,2,406.1194,4,2016,217,1,...,,,,,,,,1,01,1
3,1,28,2800,2,2,405.2219,4,2016,217,1,...,,,,,,,,1,01,1
4,1,28,2800,2,2,384.3556,4,2016,217,1,...,,,,,,,,1,96,1

TODO:<br>
i love you whoever will make these notes<br>
    -andrei

because many empty values, <br>
need more data preprocessing

In [11]:
lfs_data.duplicated().sum()

np.int64(0)

no duplicates =>>>> good !!

<h2>One Hot Encoding</h2>

In [ ]:
# idk pa what columns to hot encoding 
# df = pd.get_dummies(df, drop_first=True)  # One-hot encoding

<h2>Feature Selection</h2>

In [14]:
# idk pa rin what to do here

<h1>kNN</h1>

Employability or Job Prediction (kNN) (??)

Rural vs Urban Workforce Disparities (kNN)
<ul><li>group up regions that have similar labor market characteristics, challenges, and/or opportunities</li></ul>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score

# 1. Import the CSV file using pandas
try:
    lfs_data = pd.read_csv("LFS_PUF_April_2016.CSV")  # Replace with the actual file name/path
except FileNotFoundError:
    print("Error: CSV file not found. Please make sure the file exists in the correct directory or provide the correct path.")
    # Handle the error gracefully, e.g., exit the program or prompt the user for the correct path.
    exit()  # Or another appropriate error handling

# 2. Data Cleaning and Preprocessing (Crucial for kNN)

# --- A. Handle Missing Values ---
# kNN is sensitive to missing values.  You'll need to decide how to handle them.  Common options:

# Option 1: Drop rows with any missing values (if the number of missing values is small)
lfs_data.dropna(inplace=True)  # This modifies the DataFrame in place

# Option 2: Impute missing values (more common and often better)
#   - Numerical features: Use mean, median, or more advanced imputation (e.g., KNN imputation)
#     Example using median:
#     for col in lfs_data.select_dtypes(include=['number']).columns:
#         lfs_data[col].fillna(lfs_data[col].median(), inplace=True)

#   - Categorical features: Use mode (most frequent value)
#     for col in lfs_data.select_dtypes(exclude=['number']).columns:
#         lfs_data[col].fillna(lfs_data[col].mode()[0], inplace=True) # mode() returns a series, take the first element


# --- B. Feature Selection/Engineering ---
# Identify your target variable (the one you want to predict) and features (the ones you'll use for prediction).
# Example (replace 'TARGET_COLUMN' and 'FEATURE_COLUMNS' with your actual column names):
TARGET_COLUMN = 'EmploymentStatus' # Example - replace with your actual target variable
FEATURE_COLUMNS = ['Age', 'EducationLevel', 'Occupation'] # Example - replace with your feature columns

y = lfs_data[TARGET_COLUMN]  # Target variable
X = lfs_data[FEATURE_COLUMNS] # Features

# --- C. Encode Categorical Features ---
# kNN works with numerical data. Convert categorical features to numerical using one-hot encoding or label encoding.

X = pd.get_dummies(X) # One-hot encoding (often preferred for kNN)
# OR
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# for col in X.select_dtypes(exclude=['number']).columns:
#     X[col] = le.fit_transform(X[col])

# --- D. Feature Scaling (Very Important for kNN) ---
# kNN is distance-based, so features with larger values can dominate. Scale your features.

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X) # Fit and transform the features

# 3. Split Data into Training and Testing Sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)  # 80% train, 20% test

# 4. Train the kNN Classifier
k = 5  # Choose an appropriate value for k (number of neighbors) - often needs tuning
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

# 5. Make Predictions
y_pred = knn.predict(X_test)

# 6. Evaluate the Model
print(classification_report(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))


# --- Important Notes ---

# * **File Path:** Double-check the path to your CSV file.  If it's not in the same directory as your notebook, provide the full path.
# * **Data Exploration:** Before preprocessing, explore your data: `lfs_data.head()`, `lfs_data.info()`, `lfs_data.describe()`. This will help you understand the data types, missing values, and potential issues.
# * **Feature Engineering:**  The choice of features and how you engineer them is *crucial* for model performance.
# * **k Value Tuning:** Experiment with different values of `k` to find the optimal one. You can use techniques like cross-validation.
# * **Handling Imbalanced Datasets:** If your target variable has imbalanced classes (e.g., many more examples of one class than another), consider techniques like oversampling or undersampling.
# * **Computational Resources:** The LFS PUF is a large dataset. Be mindful of your computer's memory.  You might need to process the data in chunks if you run into memory issues.

Error: CSV file not found. Please make sure the file exists in the correct directory or provide the correct path.

NameError: name 'lfs_data' is not defined

:

Logistic Regression

Employability (Binary Logistic Regression)

In [ ]:
from sklearn.linear_model import SGDClassifier

model = SGDClassifier(
    loss='log_loss',
    eta0=0.001,
    max_iter=200,
    learning_rate='constant',
    random_state=1,
    verbose=1
)

<h1>try</h1>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Load the data
try:
    lfs_data = pd.read_csv("LFS PUF April 2016.CSV")
    print("Data loaded successfully.")
except FileNotFoundError:
    print("Error: CSV file not found. Please ensure the file is in the correct directory or provide the correct path.")
    exit()

Data loaded successfully.

In [7]:
# 2. Data Cleaning and Preprocessing

# a. Handle Missing Values (Important!)
# Explore missing data:
print(lfs_data.isnull().sum()) # Check for missing values in each column
# Strategies for handling missing data (choose one or combine as appropriate):
# 1. Drop rows with many missing values (if applicable).
# 2. Impute missing numerical values (e.g., mean, median).
# 3. Impute missing categorical values (e.g., mode, or create a "missing" category).
# Example imputation (replace with more suitable strategy as needed):
# lfs_data['PUFC25_PBASIC'].fillna(lfs_data['PUFC25_PBASIC'].median(), inplace=True) # Impute with median for basic pay
# lfs_data['PUFC07_GRADE'].fillna("Unknown", inplace=True) # Impute with "Unknown" for grade

PUFREG             0
PUFPRV             0
PUFPRRCD           0
PUFHHNUM           0
PUFURB2K10         0
PUFPWGTFIN         0
PUFSVYMO           0
PUFSVYYR           0
PUFPSU             0
PUFRPL             0
PUFHHSIZE          0
PUFC01_LNO         0
PUFC03_REL         0
PUFC04_SEX         0
PUFC05_AGE         0
PUFC06_MSTAT       0
PUFC07_GRADE       0
PUFC08_CURSCH      0
PUFC09_GRADTECH    0
PUFC10_CONWR       0
PUFC11_WORK        0
PUFC12_JOB         0
PUFC14_PROCC       0
PUFC16_PKB         0
PUFC17_NATEM       0
PUFC18_PNWHRS      0
PUFC19_PHOURS      0
PUFC20_PWMORE      0
PUFC21_PLADDW      0
PUFC22_PFWRK       0
PUFC23_PCLASS      0
PUFC24_PBASIS      0
PUFC25_PBASIC      0
PUFC26_OJOB        0
PUFC27_NJOBS       0
PUFC28_THOURS      0
PUFC29_WWM48H      0
PUFC30_LOOKW       0
PUFC31_FLWRK       0
PUFC32_JOBSM       0
PUFC33_WEEKS       0
PUFC34_WYNOT       0
PUFC35_LTLOOKW     0
PUFC36_AVAIL       0
PUFC37_WILLING     0
PUFC38_PREVJOB     0
PUFC40_POCC        0
PUFC41_WQTR        0
PUFC43_QKB         0
PUFNEWEMPSTAT      0
dtype: int64

In [13]:
# i think we can drop PUFSVYMO Survey month, PUFSVYYR Survey year

renamed_fucking_columns = {
    'PUFREG': 'Region',
    'PUFPRV' : 'Province code',
    'PUFPRRCD' : 'Province recode',
    'PUFHHNUM' : 'Household unique sequential number',
    'PUFURB2K10' : 'Urban / Rural',
    'PUFPWGTFIN' : 'Final weight',
    'PUFSVYMO' : 'Survey month',
    'PUFSVYYR' : 'Survey year',
    'PUFPSU' : 'PSU number',
    'PUFRPL' : 'Replicate',
    'PUFHHSIZE' : 'Number of household members',
    'PUFC01_LNO' : 'Line number used to identify each member of the household in the survey',
    'PUFC03_REL' : 'Relationship of the person to the household head',
    'PUFC04_SEX' : 'Sex of the person',
    'PUFC05_AGE' : 'Age of the person since last birthday',
    'PUFC06_MSTAT' : 'Marital status of the person since last birthday',
    'PUFC07_GRADE' : 'Highest grade completed of the person',
    'PUFC08_CURSCH' : 'Is the person currently attending school?',
    'PUFC09_GRADTECH' : 'Is the person a graduate of a technical / vocational course?',
    'PUFC10_CONWR' : 'Category of OFW',
    'PUFC11_WORK' : 'Did the person do any work for at least one house during the past week?',
    'PUFC12_JOB' : 'Although the person did not work last week, did the person have a job or business during the past week?',
    'PUFC14_PROCC' : 'What is the primary occupation of the person during the past week?',
    'PUFC16_PKB' : 'Kind of business or industry of the person',
    'PUFC17_NATEM' : 'Nature of employment of the person.',
        # This refers to the permanence or regularity or seasonality with which a particular work or job/business is being pursued.
    'PUFC18_PNWHRS' : 'Normal working hours per day',
        # Normal working hours worked per day is the usual or prescribed working hours of a person in his primary job/business, which is, considered a full day's work.
    'PUFC19_PHOURS' : 'Total number of hours worked during the past week',
        # The actual number of hours worked by a person in his primary job that he held during the past week or in his other job(s)/business if there are or if there is any.
        # It includes the duration or the period the person was occupied in his work, including overtime, but excluding hours paid but not worked. 
        # For wage and salary earners, it includes time worked without compensation in connection with their occupations, 
        # such as the time a teacher spends at home preparing for the forthcoming lectures. 
        # For own account workers, it includes the time spent in the shop, business or office, even if no sale or transaction has taken place.
    'PUFC20_PWMORE' : 'Do you want more hours of work during the past week?',
    'PUFC21_PLADDW' : 'Did the person look for additional work during the past week?',
    'PUFC22_PFWRK' : "Was this the person's first time to do any work?",
        # This question determines whether a person is a “new entrant” to the labor force. 
        # A person is a new entrant if it is his first time to do any work.
        # A person is considered to have worked only for the first time if he started working only during the current survey period.
        # Current survey period refers to April 1 - 30 for this survey round
    'PUFC23_PCLASS' : 'Class of worker for primary occupation',
        # Class of worker is the relationship of the worker to the establishment where he works.
    'PUFC24_PBASIS' : 'Basis of payment for primary occupation',
    'PUFC25_PBASIC' : 'Basic pay per day for primary occupation',
        # Basic pay is the pay for normal time, prior to deductions of social security contributions, withholding taxes, etc. 
        # It excludes allowances, bonuses, commissions, overtime pay, benefits in kind, etc. 
        # This is also called basic wage.
    'PUFC26_OJOB' : 'Did the person have other job or business during the past week?',
    'PUFC27_NJOBS' : 'Number of jobs the person had during the past week',
    'PUFC28_THOURS' : 'Total number of hours worked by the person for all his jobs during the past week',
    'PUFC29_WWM48H' : 'Main reason for not working more than 48 hours in the past week',
    'PUFC30_LOOKW' : 'Did the person look for work or try to establish a business in the past week?',
    'PUFC31_FLWRK' : "Was it the person's first time looking for work or trying to establish a business?",
    'PUFC32_JOBSM' : 'Job search method',
        # What has the person been doing to find work?
    'PUFC33_WEEKS' : 'Number of weeks spent in looking for work',
        # How many weeks has the person been looking for work?',
    'PUFC34_WYNOT' : 'Reason for not looking for work Why did the person not look for work?',
    'PUFC35_LTLOOKW' : 'When was the last time the person looked for work?',
    'PUFC36_AVAIL' : 'Had opportunity for work existed last week or within two weeks, would the person have been available?',
    'PUFC37_WILLING' : 'Is the person willing to take up work in the past week or within 2 weeks?',
    'PUFC38_PREVJOB' : 'Has the person worked at any time before?',
    'PUFC40_POCC' : 'What was the person’s last occupation?',
    'PUFC41_WQTR' : 'Did the person work at all or had a job or business during the past quarter?',
    'PUFC43_QKB' : 'Kind of business for the past quarter',
    'PUFNEWEMPSTAT' : 'New Employment Criteria'
}
pd.set_option('display.max_columns', None)
lfs_data.rename(columns=renamed_fucking_columns, inplace=True)

lfs_data.head(50)

,Region,Province code,Province recode,Household unique sequential number,Urban / Rural,Final weight,Survey month,Survey year,PSU number,Replicate,Number of household members,Line number used to identify each member of the household in the survey,Relationship of the person to the household head,Sex of the person,Age of the person since last birthday,Marital status of the person since last birthday,Highest grade completed of the person,Is the person currently attending school?,Is the person a graduate of a technical / vocational course?,Category of OFW,Did the person do any work for at least one house during the past week?,"Although the person did not work last week, did the person have a job or business during the past week?",What is the primary occupation of the person during the past week?,Kind of business or industry of the person,Nature of employment of the person.,Normal working hours per day,Total number of hours worked during the past week,Do you want more hours of work during the past week?,Did the person look for additional work during the past week?,Was this the person's first time to do any work?,Class of worker for primary occupation,Basis of payment for primary occupation,Basic pay per day for primary occupation,Did the person have other job or business during the past week?,Number of jobs the person had during the past week,Total number of hours worked by the person for all his jobs during the past week,Main reason for not working more than 48 hours in the past week,Did the person look for work or try to establish a business in the past week?,Was it the person's first time looking for work or trying to establish a business?,Job search method,Number of weeks spent in looking for work,Reason for not looking for work Why did the person not look for work?,When was the last time the person looked for work?,"Had opportunity for work existed last week or within two weeks, would the person have been available?",Is the person willing to take up work in the past week or within 2 weeks?,Has the person worked at any time before?,What was the person’s last occupation?,Did the person work at all or had a job or business during the past quarter?,Kind of business for the past quarter,New Employment Criteria
0,1,28,2800,1,2,405.2219,4,2016,217,1,3,1,1,1,49,2,350,,2,5,1,,61,01,1,08,024,1,1,2,3,,,1,1,032,,,,,,,,,,,,1,01,1
1,1,28,2800,1,2,388.8280,4,2016,217,1,3,2,2,2,61,2,350,,2,5,1,,92,01,2,04,008,2,2,2,6,,,2,,008,,,,,,,,,,,,1,01,1
2,1,28,2800,1,2,406.1194,4,2016,217,1,3,3,3,1,19,1,350,2,2,5,1,,92,01,2,08,024,1,1,2,1,3,00250,1,1,034,,,,,,,,,,,,1,01,1
3,1,28,2800,2,2,405.2219,4,2016,217,1,4,1,1,1,48,2,320,,2,5,1,,61,01,1,04,020,1,1,2,3,,,1,2,033,,,,,,,,,,,,1,01,1
4,1,28,2800,2,2,384.3556,4,2016,217,1,4,2,2,2,41,2,350,,2,5,1,,91,96,1,12,072,2,2,2,0,4,00115,2,,072,2,,,,,,,,,,,1,96,1
5,1,28,2800,2,2,406.1194,4,2016,217,1,4,3,3,1,20,1,350,2,2,5,1,,52,47,2,08,048,2,2,2,1,3,00200,2,,048,,,,,,,,,,,,1,01,1
6,1,28,2800,2,2,371.9331,4,2016,217,1,4,4,3,2,15,1,320,1,2,5,2,2,,,,,,,,,,,,,,,,2,,,,8,,,,2,,,,3
7,1,28,2800,3,2,383.9971,4,2016,217,1,4,1,1,1,59,2,350,,2,5,1,,61,01,1,04,020,1,1,2,3,,,1,1,032,,,,,,,,,,,,1,01,1
8,1,28,2800,3,2,388.8280,4,2016,217,1,4,2,2,2,61,2,350,,2,5,1,,53,84,1,08,010,2,2,2,2,7,,2,,010,,,,,,,,,,,,1,84,1
9,1,28,2800,3,2,394.5008,4,2016,217,1,4,3,6,2,11,1,250,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10,1,28,2800,3,2,394.5008,4,2016,217,1,4,4,6,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11,1,28,2800,4,2,405.2219,4,2016,217,1,4,1,1,1,51,2,350,,2,5,1,,13,49,1,04,020,2,2,2,3,,,2,,020,,,,,,,,,,,,1,49,1
12,1,28,2800,4,2,374.6374,4,2016,217,1,4,2,2,2,51,2,622,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,7,,,,1,52,2,,3
13,1,28,2800,4,2,416.8733,4,2016,217,1,4,3,3,1,26,1,672,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,2,3,1,1,2,,,,2
14,1,28,2800,4,2,406.1194,4,2016,217,1,4,4,3,1,23,1,350,2,2,5,1,,54,80,2,12,060,2,1,2,1,4,00335,2,,060,1,,,,,,,,,,,1,80,1
15,1,28,2800,5,2,381.2158,4,2016,217,1,3,1,1,1,71,2,240,,2,5,1,,93,41,2,08,048,2,2,2,1,3,00350,2,,048,,,,,,,,,,,,1,41,1
16,1,28,2800,5,2,374.6374,4,2016,217,1,3,2,2,2,54,2,220,,2,5,1,,91,96,3,04,016,1,1,2,0,3,00200,1,1,024,,,,,,,,,,,,1,96,1
17,1,28,2800,5,2,416.8733,4,2016,217,1,3,3,3,1,27,1,614,,2,5,1,,12,84,1,08,040,2,2,2,2,4,00909,2,,040,,,,,,,,,,,,1,84,1
18,1,28,2800,6,2,405.2219,4,2016,217,1,5,1,1,1,46,2,330,,2,5,1,,71,41,3,08,048,2,2,2,1,3,00400,1,1,056,1,,,,,,,,,,,1,41,1
19,1,28,2800,6,2,374.6374,4,2016,217,1,5,2,2,2,46,2,350,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,7,,,,2,,,,3
20,1,28,2800,6,2,406.1194,4,2016,217,1,5,3,3,1,23,1,350,2,2,5,1,,71,43,3,08,048,2,2,2,1,3,00320,2,,048,,,,,,,,,,,,1,43,1
21,1,28,2800,6,2,371.9331,4,2016,217,1,5,4,3,2,18,1,350,2,2,5,2,2,,,,,,,,,,,,,,,,2,,,,5,,1,1,2,,,,2
22,1,28,2800,6,2,388.7272,4,2016,217,1,5,5,6,1,5,1,010,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
23,1,28,2800,7,2,444.1641,4,2016,217,1,1,1,1,2,80,3,280,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,6,,,,1,61,2,,3
24,1,28,2800,8,2,384.3556,4,2016,217,1,1,1,1,2,43,1,320,,2,5,1,,61,01,1,04,024,1,1,2,3,,,1,1,048,,,,,,,,,,,,1,01,1
25,1,28,2800,9,2,384.3556,4,2016,217,1,4,1,1,2,38,1,632,,2,5,1,,11,84,1,08,040,1,1,2,2,4,01029,1,1,047,,,,,,,,,,,,1,84,1
26,1,28,2800,9,2,381.2158,4,2016,217,1,4,2,7,1,73,3,350,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,6,,,,1,61,2,,3
27,1,28,2800,9,2,427.4840,4,2016,217,1,4,3,8,1,35,1,350,,2,5,1,,83,49,1,04,024,1,1,2,1,4,00153,1,1,044,,,,,,,,,,,,1,49,1
28,1,28,2800,9,2,371.9331,4,2016,217,1,4,4,10,2,19,1,350,2,2,5,1,,91,96,1,10,070,2,2,2,0,4,00115,2,,070,2,,,,,,,,,,,1,96,1
29,1,28,2800,10,2,381.2158,4,2016,217,1,6,1,1,1,72,2,280,,2,5,1,,61,01,1,02,004,2,2,2,3,,,2,,004,,,,,,,,,,,,1,01,1
30,1,28,2800,10,2,444.1641,4,2016,217,1,6,2,2,2,74,2,350,,2,5,1,,92,01,2,02,004,2,2,2,6,,,2,,004,,,,,,,,,,,,1,01,1
31,1,28,2800,10,2,427.4840,4,2016,217,1,6,3,3,1,39,4,350,,2,5,1,,14,45,1,08,032,2,2,2,3,,,2,,032,,,,,,,,,,,,1,45,1
32,1,28,2800,10,2,371.9331,4,2016,217,1,6,4,6,2,16,1,330,1,2,5,2,2,,,,,,,,,,,,,,,,2,,,,8,,,,2,,,,3
33,1,28,2800,10,2,394.5008,4,2016,217,1,6,5,6,2,14,1,320,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
34,1,28,2800,10,2,388.7272,4,2016,217,1,6,6,6,1,13,1,310,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
35,1,28,2800,11,2,374.6374,4,2016,217,1,8,1,1,2,51,2,280,,2,5,1,,51,56,2,08,016,2,2,2,1,3,00100,2,,016,,,,,,,,,,,,1,56,1
36,1,28,2800,11,2,371.9331,4,2016,217,1,8,2,3,2,20,1,350,2,2,5,1,,51,56,1,08,048,2,2,2,1,4,00240,2,,048,,,,,,,,,,,,1,56,1
37,1,28,2800,11,2,394.5008,4,2016,217,1,8,3,3,2,13,1,310,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38,1,28,2800,11,2,394.5008,4,2016,217,1,8,4,3,2,8,1,220,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
39,1,28,2800,11,2,394.5008,4,2016,217,1,8,5,3,2,5,1,000,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
40,1,28,2800,11,2,371.9331,4,2016,217,1,8,6,3,2,22,1,350,2,2,5,1,,51,56,2,08,016,2,2,2,1,3,00100,2,,016,,,,,,,,,,,,1,56,1
41,1,28,2800,11,2,388.7272,4,2016,217,1,8,7,6,1,3,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
42,1,28,2800,11,2,405.2219,4,2016,217,1,8,8,2,1,50,2,350,,2,1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
43,1,28,2800,12,2,427.4840,4,2016,217,1,7,1,1,1,44,4,900,,2,5,1,,11,84,1,08,045,2,2,2,2,4,01100,2,,045,,,,,,,,,,,,1,84,1
44,1,28,2800,12,2,408.3290,4,2016,217,1,7,2,4,2,34,1,350,,2,5,1,,14,47,1,03,010,2,2,2,3,,,2,,010,,,,,,,,,,,,1,47,1
45,1,28,2800,12,2,427.4840,4,2016,217,1,7,3,5,1,44,2,350,,2,5,1,,13,49,1,06,030,2,2,2,3,,,1,1,050,1,,,,,,,,,,,1,49,1
46,1,28,2800,12,2,384.3556,4,2016,217,1,7,4,4,2,40,2,614,,2,5,2,2,,,,,,,,,,,,,,,,2,,,,7,,,,1,61,2,,3
47,1,28,2800,12,2,371.9331,4,2016,217,1,7,5,8,2,15,3,320,1,2,5,2,2,,,,,,,,,,,,,,,,2,,,,8,,,,2,,,,3
48,1,28,2800,12,2,388.7272,4,2016,217,1,7,6,8,1,13,1,310,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,
49,1,28,2800,12,2,394.5008,4,2016,217,1,7,7,8,2,9,1,240,1,,,2,2,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [ ]:
# b. Feature Selection (Crucial for a good model)
# Identify features relevant to employability.  Consider these factors:
# * Demographic features (age, sex, marital status, education)
# * Work experience (previous jobs, hours worked)
# * Job search activity (looking for work, methods used)
# * Availability and willingness to work
# * Location (region, urban/rural)

# Example: Select some potentially relevant features (you'll likely want to refine this):
selected_features = ['PUFC05_AGE', 'PUFC04_SEX', 'PUFC07_GRADE', 'PUFC11_WORK', 'PUFC14_PROCC', 'PUFC17_NATEM', 'PUFC23_PCLASS', 'PUFC30_LOOKW', 'PUFC36_AVAIL', 'PUFC37_WILLING', 'PUFNEWEMPSTAT']  # Add more!
lfs_data = lfs_data[selected_features]

# c. Encode Categorical Variables
# Logistic regression works with numerical data. Convert categorical features:
lfs_data = pd.get_dummies(lfs_data, columns=['PUFC04_SEX', 'PUFC07_GRADE', 'PUFC11_WORK', 'PUFC14_PROCC', 'PUFC17_NATEM', 'PUFC23_PCLASS', 'PUFC30_LOOKW', 'PUFC36_AVAIL', 'PUFC37_WILLING']) # One-hot encoding

# d. Define Target Variable (Employability)
# You'll need to define what "employable" means in your context.
# Example: If PUFNEWEMPSTAT indicates employment status, you might use it directly.
# Or, you might create a new target variable based on a combination of factors.
# Example (using PUFNEWEMPSTAT directly as a binary indicator - Adapt as needed):
lfs_data['employable'] = lfs_data['PUFNEWEMPSTAT'].apply(lambda x: 1 if x in [1, 2, 3] else 0) # Example: 1 if employed, 0 if not.  Adjust based on your data.
lfs_data.drop('PUFNEWEMPSTAT', axis=1, inplace=True) # Remove the original employment status column if you created a new 'employable' column

In [4]:

# 3. Model Training
X = lfs_data.drop('employable', axis=1)  # Features
y = lfs_data['employable']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)  # Split data

model = LogisticRegression(max_iter=1000) # Increase max_iter if needed.
model.fit(X_train, y_train)

KeyError: "['employable'] not found in axis"

In [5]:
# 4. Model Evaluation
y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

print(classification_report(y_test, y_pred))

cm = confusion_matrix(y_test, y_pred)
sns.heatmap(cm, annot=True, fmt="d")
plt.title("Confusion Matrix")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.show()

NameError: name 'model' is not defined

In [ ]:
# 5. Feature Importance (Optional but helpful)
# Logistic regression can provide some insight into feature importance (coefficients):
coefficients = model.coef_[0]
feature_importance = pd.DataFrame({'Feature': X.columns, 'Importance': coefficients})
feature_importance = feature_importance.sort_values(by='Importance', ascending=False)
print("\nFeature Importance:")
print(feature_importance)


# Suggestions for an Outstanding Model:

# * Thorough Data Cleaning: Handle missing values strategically.  Don't just drop them blindly. Imputation is often better.
# * Feature Engineering: Create new features from existing ones.  For example, combine education and work experience.
# * Feature Selection: Carefully choose the most relevant features. Use domain knowledge, statistical tests, or feature selection techniques (e.g., recursive feature elimination).
# * Model Selection: Don't be limited to logistic regression. Explore other models like Random Forest, Gradient Boosting, or Support Vector Machines.
# * Hyperparameter Tuning: Optimize the model's parameters using techniques like GridSearchCV or RandomizedSearchCV.
# * Cross-Validation: Use techniques like k-fold cross-validation to get a more robust estimate of model performance.
# * Address Class Imbalance (if present): If your dataset has a significantly unequal number of "employable" and "not employable" individuals, consider techniques like oversampling or undersampling.
# * Domain Expertise:  The most important thing! Work with people who understand the Philippine labor market. Their insights will be invaluable for feature selection, defining "employability," and interpreting the model's results.
# * Explainability: Consider using techniques to make your model more interpretable. This is important for understanding why the model is making certain predictions.